html {
  background-color: #DCDCDC;
}
body {
  margin: 0 auto;
  max-width: 1920px;
  background-color: #fff;
}
header {
  background-image: url(../img/photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 40px 0;
}
.header_top {
  display: flex;
  justify-content: center;
  text-align: center;
}
.header_logo {
  display: flex;
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 219px;
  height: 56px;
  line-height: 56px;
  color: #fff;
}
nav ul {
  display: flex;
}
nav li {
  list-style-type: none;
  margin-right: 30px;
}
nav li:last-child {
  margin-right: 63px;
}
nav a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-transform: capitalize;
}
nav a:hover {
  color: #dcdcdc;
}
nav a:active {
  color: gray;
}
.header_basket {
  display: block;
  width: 18px;
  height: 24px;
  background: url("../img/icon-cart.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto 0;
}
.header_basket:hover {
  filter: invert(0.2);
}
.header_basket:active {
  filter: invert(0.7);
}
.service {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 80px;
}
.service_box {
  width: 266px;
  text-align: center;
  position: relative;
  margin-right: 33px;
}
.service_box:last-child {
  margin-right: 0;
}
.service_box input {
  display: none;
}
.service_box input:checked ~ .service_label {
  color: #c7b299;
}
.service_box input:checked ~ .service_label:before {
  filter: invert(0);
}
.service_box input:checked ~ .service_box_line {
  background-color: #c7b299;
}
.service_box label {
  font-family: Raleway;
  color:  #555;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
.service_box label[for=service_option1]:before {
  content: "";
  display: block;
  height: 49px;
  width: 49px;
  position: absolute;
  top: -60px;
  left: 108.5px;
  background: url("../img/icon1.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  filter: invert(0.6);
}
.service_box label[for=service_option2]:before {
  content: "";
  display: block;
  height: 40px;
  width: 44px;
  position: absolute;
  top: -60px;
  left: 111px;
  background: url("../img/icon2.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  filter: invert(0.6);
}
.service_box label[for=service_option3]:before {
  content: "";
  display: block;
  height: 44px;
  width: 44px;
  position: absolute;
  top: -60px;
  left: 111px;
  background: url("../img/icon3.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  filter: invert(0.6);
  margin-bottom: 30px;
}
.service_box label[for=service_option4]:before {
  content: "";
  display: block;
  height: 36px;
  width: 52px;
  position: absolute;
  top: -60px;
  left: 107px;
  background: url("../img/icon4.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  filter: invert(0.6);
  margin-bottom: 30px;
}
.service_box_line {
  display: block;
  height: 3px;
  width: 70px;
  background-color: #f1eee9;
  margin: 0 auto;
  margin-top: 30px;
}